.main-container {
    display: flex;
    flex-direction: row;
}

.player-container {
    margin-top: 10vh;
    display: flex;
    flex: 1;
    justify-content: center;
}

.ai-container {
    margin-top: 10vh;
    display: flex;
    flex: 1;
    justify-content: center;
}

.player-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #1282a2;
}

.ai-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #1282a2;
}

.player-cell:hover {
    cursor: not-allowed;
}

.player-cell.ship {
    border: 1px solid black;
    background-image: url(../../images/directions_boat-24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.player-cell.hit-ship {
    border: 1px solid black;
    background-image: url(../../images/directions_boat-24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(167, 32, 32);
}

.player-cell.miss {
    background-color: grey;
}

.ai-cell:hover {
    background-color: rgb(167, 67, 67);
    cursor: crosshair;
}

.ai-cell.hit-ship {
    border: 1px solid black;
    background-image: url(../../images/directions_boat-24px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(167, 32, 32);
    cursor: not-allowed;
}

.ai-cell.miss {
    background-color: grey;
    cursor: not-allowed;
}

.overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    opacity: 0.98;
    z-index: 1000;
    border-radius: .5rem;
    padding: 3rem;
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.overlay-container__header {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fefcfb;
}

.overlay-container__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 3rem;
    margin-top: 2rem;
    color: #0a1128;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.overlay-container__button:hover {
    background-color: lightgray;
    cursor: pointer;
}

@keyframes backgroundColorPalette {
    0% {
        background: #264653;
    }
    25% {
        background: #2a9d8f;
    }
    50% {
        background: #e9c46a;
    }
    75% {
        background: #f4a261;
    }
    100% {
        background: #e76f51;
    }
};